$navbar-color-primary: #131921;
$navbar-color-secondary: #232f3f;
$text-color: #f5f5f5;
$search-button-color: #f6bc69;


/* =========== Font size ============*/

$font-size-small: 10px;
$font-size-normal: 14px;

