@use '../variables/index' as var;

.highlight {
    box-shadow:  0 0 4px #0096c7;
    transition: box-shadow .3s ease-in-out;
}

#main {
    padding-top: 10rem;

    .index-images {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        &__image {
            width: 100px;
            height: 60px;
            object-fit: contain;
            cursor: pointer;
            border-radius: 5px;
        }
    }

    .main-image {
        align-self: center;
        position: relative;
        &__image {
            width: 100%;
            object-fit: contain;
        }
    }
}

.d-grid {
    display: grid;
    grid-template-columns: 100px 500px 330px 300px;
    justify-content: center;
    gap: 2rem;
}

.information-product {
    position: relative;


    &__rate {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        .rate__title {
            font-weight: 400;
            font-size: 1.8rem;
        }

        span {
            display: block;
            font-size: 1rem;
        }

        .stars {
            display: flex;
            span {
                margin-left: auto;
                background-image: linear-gradient(to right, #9de0ee, #48cae4, #0096c7, #023e8a);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                font-weight: bold;
            }
            i {
                color: #ffea00;
            }
        }
    }
}

.divisor {
    position: relative;
    display: flex;
    margin-top: 1rem;
    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: rgba(141, 153, 174, .3);
        bottom: 0;
        left: 0;
    }
}

.tech-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    span {
        padding: .5rem;
    }
}

/*
================
price
================
*/

.price {

    border: 1px solid rgba(141, 153, 174, .3);
    padding: 1rem 2rem;
    border-radius: 5px;

    &__button {
        width: 100%;
        margin-top: 10px;
        padding: 1rem;
        border: transparent;
        border-radius: 30px;
        cursor: pointer;
        color:rgb(25, 34, 51);
        font-weight: bold;
    }

    .add-cart {
        background-color: #e0e1dd;
    }
    
    .buy {
        @include var.gradientBuyButton;
    }

    &__value {
        font-size: var.$font-size-ex-large;
        position: relative;
        color: #343a40;

        &::before {
            content: 'R$';
            position: absolute;
            top: 10%;
            left: -14%;
            font-size: var.$font-size-normal;
        }

        &::after {
            content: '00';
            position: absolute;
            top: 10%;
            right: -12%;
            font-size: var.$font-size-normal;
        }
    }

    &__text {
        background-image: linear-gradient(to right, #d9ed92, #b5e48c, #76c893, #34a0a4);
        padding: 6px;
        border-radius: 5px;
        text-align: center;
        color: #184e77;
        margin: 1rem 0;
    }
}


.lens {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background-color: rgba(0, 150, 199, .5);
    pointer-events: none;
}

.result {
    position: absolute;
    top: 50%;
    right: -150%;
    height: 600px;
    width: 700px;
    z-index: 10;
    transform: translateY(-50%) scale(0);
    border-radius: 5px;
    transition: transform .2s ease-in-out;
} 

.show-result {
    transform: translateY(-50%) scale(1);
}
