.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, .5);
    height: 100%;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        display: block;
 
    }

    &__content {
        background-color: #fff;
        min-height: 300px;
        min-width: 500px;
        border-radius: 8px;
        position: relative;
        padding: 5rem;

        i {
            position: absolute;
            top: 5%;
            right: 3%;
            cursor: pointer;
            user-select: none;
            padding: 15px;
            border-radius: 50%;
            transition: all .3s ease-in-out;

            
            &:hover {
                background-color: #ddd;
                transition: all .3s ease-in-out;
            }

        }
    }
}